<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<table class="styled-table" style="">
  <tr>
    <th>Name</th>
    <th>Destination</th>

  </tr>
  <tr th:each="address: ${addressList}">
    <td th:text="${address.name}"></td>
    <td th:text="${address.currentAddress}"></td>

    <td>
      <button><a th:href="@{/address/{id}(id = ${address.id})}">Edit address</a></button>

    </td>
  </tr>
</table>
<div class="container">
  <button><a href="/address/addAddress">Create new address</a></button>
</div>
</body>
</html>