<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<form th:method="PATCH" th:action="@{/pets/{id}(id = ${pet.get().getId()})}" th:object="${pet}">
    <label for="name">Enter name</label>
    <input type="text" id="name" th:field="*{name}"> <br>
    <label for="age">Enter age</label>
    <input type="text" id="age" th:field="*{age}"> <br>
    <label for="weight">Enter weight</label>
    <input type="text" id="weight" th:field="*{weight}"> <br>
    <label>Select type</label>
    <select name = "nameTypePet">
        <div th:each="element : ${typePet}">
            <option th:text="${element.name}"></option>
        </div>
    </select> <br>
    <input type="submit" value="Update">
</form>

</body>
</html>