<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<table class="styled-table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Year formed</th>
    </tr>
    <tr>
        <td th:text="${man.get().getId()}"></td>
        <td th:text="${man.get().getName()}"></td>
        <td th:text="${man.get().getAddress()}"></td>
        <td th:text="${man.get().getYearFormed()}"></td>
    </tr>
</table>

<div class="container">
    <button>
        <a th:href="@{/mans/{id}/editMan (id = ${man.get().getId()})}">Edit</a>
    </button>
    <form th:method="delete" th:action="@{/mans/{id} (id = ${man.get().getId()})}">
        <input type="submit" value="Delete">
    </form>
</div>

</body>
</html>