<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User pets database</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>User pets database panel</h1>

<div class="container">
    <form method="get" action="/country">
        <input type="submit" value="Countries">
    </form>
    <form method="get" action="/food">
        <input type="submit" value="Food">
    </form>
    <form method="get" action="/mans">
        <input type="submit" value="Manufacturers">
    </form>
    <form method="get" action="/pets">
        <input type="submit" value="Pets">
    </form>

    <form method="get" action="/users">
        <input type="submit" value="Users">
    </form>
    <form method="get" action="/address">
        <input type="submit" value="Addresses">
    </form> <br>
    <form method="get" action="/typePet">
        <input type="submit" value="Type pet">
    </form>
    <form method="get" action="/petFood">
        <input type="submit" value="Pet food">
    </form>
    <form method="get" action="/authorities">
        <input type="submit" value="Change Authorities">
    </form>
    <form method="get" action="/login">
        <input type="submit" value="Logout">
    </form>
</div>

</body>
</html>